<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Travel Application Home Page</title>
  <h1>Travel Application Home Page</h1>
  <script type="text/javascript" th:src="@{/js/src/home.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
</head>
<body onload="fetchDestinations()">
<main>
  <div id="container">
    <div class="search_bar">
      <h3> Find a journey from your dreams!</h3>
      <div class="filter">
        <form id="form">
          <input type="search" id="query_city" name="dst_city" placeholder="To city"><br>
          <input type="search" id="query_departure_city" name="src_city" placeholder="From city"><br>
          <input type="search" id="query_departure_date" name="start_date" placeholder="Departure Date"><br>
          <span>How many people 3+</span>
          <select id="query_ppl3+" name="ppl3">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select><br>
          <span>How many people 10+</span>
          <select id="query_ppl10+" name="ppl10">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select><br>
          <span>How many people 18+</span>
          <select id="query_ppl18+" name="ppl18">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select><br>
          <button>Search</button>
        </form>
      </div>
    </div>
  </div>
</main>
</body>
</html>