<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Travel Application Home Page</title>
  <h1>Travel Application Home Page</h1>
  <div hidden id="gateway-config"> [[${@environment.getProperty('api-gateway.uri')}]]</div>
  <script type="text/javascript" th:src="@{/js/src/flights.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/events.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/defaultObjects.js}"></script>
</head>
<body onload="fetchDestinations(); setFilterStartingValues(); disableNullFields(); createNotificationListener(); createRecentChangesButton(); createStatisticsButton(); createReservationsButton()">
<main>
  <div id="container">
    <div id="leftBarMenu" style="float:right">
      <div id="userInfo" style="float:right"></div>
      <ul style="list-style-type:none; position:relative; top:20px">
        <li><div id="recentChanges" style="float:right"></div></li>
        <li><div id="statistics" style="float:right"></div></li>
        <li><div id="reservations" style="float:right"></div></li>
      </ul>
    </div>
    <div class="search_bar">
      <h3> Find a journey from your dreams!</h3>
      <div class="filter">
        <form id="form" class="skipEmptyFields" action="/flights">
          <label for="departure_country">From</label>
          <input type="search" id="departure_country" name="departure_country" placeholder="Departure country"><br>
          <label for="arrival_country">To</label>
          <input type="search" id="arrival_country" name="arrival_country" placeholder="Destination country"><br>
          <label for="date">Put date of departure</label>
          <input type="date" id="date" name="date" placeholder="Departure Date"><br>
          <label for="available_seats">Put the number of people</label>
          <input type="number" id="available_seats" name="available_seats" min="1" max="99" value="1">
          <button> Search </button>
        </form>
      </div>
    </div>
    <p id="flightsCounter"></p>
  </div>
  <style>
    .svg-button:hover path{
      fill: lightgray;
    }
  </style>
</main>
</body>
</html>