<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Offer details</title>
  <div hidden id="gateway-config"> [[${@environment.getProperty('api-gateway.uri')}]]</div>
  <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/events.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/offerDetails.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/defaultObjects.js}"></script>
</head>
<body onload="createReservationListener(); fetchOfferDetails(); fetchFlightDetails()">
  <div id="notificationDiv" counter=0><ul id="notifications" style="position: absolute; right: 50%"></ul></div>
  <div>
    <form action="/offers">
      <input type="hidden" id="flightId" name="flightId" value="">
      <input type="hidden" id="flightArrivalCountry" name="country" value="">
      <input type="hidden" id="flightDate" name="start_date" value="">
      <button> Go back </button>
    </form>
  </div>
  <div id="container">
    <div id="userInfo" style="float:right"></div>
    <h2>Offer details</h2>
    <div id="offerDetails"></div>
    <h2>Flight details</h2>
    <div id="flightData">
      <div id="flightDataFrom"></div>
      <div id="flightDataTo"></div>
      <div id="flightDataDate"></div>
    </div><br><br>
    <div>
      <form >
        <p> Mark how many seats you want to book</p>
        <label for="adults">Adults</label>
        <input type="number" id="adults" name="max_adults" min="1" max="99">&nbsp&nbsp&nbsp&nbsp
        <label for="children_to_3">Children up to 3 years</label>
        <input type="number" id="children_to_3" name="max_children_to_3" min="0" max="99">&nbsp&nbsp&nbsp&nbsp
        <label for="children_to_10">Children up to 10 years</label>
        <input type="number" id="children_to_10" name="max_children_to_10" min="0" max="99">&nbsp&nbsp&nbsp&nbsp
        <label for="children_to_18">Children up to 18 years</label>
        <input type="number" id="children_to_18" name="max_children_to_18" min="0" max="99">&nbsp&nbsp&nbsp&nbsp<br>
      </form>
      <div id="actionButtons">
        <br>
        <button onclick="reserveOffer()">Reserve offer</button><br>
        <button onclick="purchaseOffer('random')">Purchase offer</button><br><br>
        <button onclick="purchaseOffer('success')">Purchase offer success</button>
        <button onclick="purchaseOffer('fail')">Purchase offer failure</button>
      </div>
    </div>
    <h2 id="actionResult"></h2>
    <text id="eventLogs" style="white-space: pre"></text>
  </div>
  <style>
      .svg-button:hover path{
          fill: lightgray;
      }
      @keyframes fade {
        0% {
          opacity: 0;
        }
        15% {
          opacity: 1;
        }
        85% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }
      .notification {
        opacity: 0;
        animation: fade 5s ease-in-out;
      }
  </style>
</body>
</html>