<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Offers</title>
  <h1>Check out our offers</h1>
  <div hidden id="gateway-config"> [[${@environment.getProperty('api-gateway.uri')}]]</div>
  <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/events.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/offers.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/defaultObjects.js}"></script>
</head>
<body onload="fetchOffers(); fetchChosenFlight(); setFilterStartingValues(); disableNullFields(); createNotificationListener()">
<main>
  <div id="userInfo" style="float:right"></div>
  <h3> Find a journey from your dreams!</h3>
  <div id="flightData">
    <div id="flightDataFrom"></div>
    <div id="flightDataTo"></div>
    <div id="flightDataDate"></div>
  </div>
  <div id="container">
    <div class="search_bar">
      <div class="filter">
        <form id="form" class="skipEmptyFields" action="/offers">
          <input type="hidden" id="flightId" name="flightId">
          <input type="hidden" id="arrival_country" name="arrival_country">
          <input type="hidden" id="date" name="date"><br>
          <label for="max_adults">Adults</label>
          <input type="number" id="max_adults" name="max_adults" min="1" max="99">&nbsp&nbsp&nbsp&nbsp
          <label for="max_children_to_3">Children up to 3 years</label>
          <input type="number" id="max_children_to_3" name="max_children_to_3" min="0" max="99">&nbsp&nbsp&nbsp&nbsp
          <label for="max_children_to_10">Children up to 10 years</label>
          <input type="number" id="max_children_to_10" name="max_children_to_10" min="0" max="99">&nbsp&nbsp&nbsp&nbsp
          <label for="max_children_to_18">Children up to 18 years</label>
          <input type="number" id="max_children_to_18" name="max_children_to_18" min="0" max="99">&nbsp&nbsp&nbsp&nbsp<br>
          <label for="room_type">Room type</label>
          <select id="room_type" name="room_type">
            <option selected value> --not specified-- </option>
            <option value="small">small room</option>
            <option value="medium">medium room</option>
            <option value="large">large room</option>
            <option value="apartment">apartment</option>
            <option value="studio">studio</option>
          </select>&nbsp&nbsp&nbsp&nbsp
          <label for="meals">Meals</label>
          <select id="meals" name="meals">
            <option selected value> --not specified-- </option>
            <option value="onlyBreakfast">breakfast only</option>
            <option value="breakfastAndDinner">breakfast and dinner</option>
            <option value="allInclusive">all inclusive</option>
          </select>&nbsp&nbsp&nbsp&nbsp
          <label for="stars">Stars</label>
          <select id="stars" name="stars">
            <option selected value> --not specified-- </option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>&nbsp&nbsp&nbsp&nbsp
          <label for="min_price">Price</label>
          <input type="number" id="min_price" name="min_price" min="0" placeholder="min">&nbsp&nbsp
          <input type="number" id="max_price" name="max_price" min="0" placeholder="max">&nbsp&nbsp<br>
          <button> Search </button>
        </form>
      </div>
    </div>
    <div>
        <a href="/flights">
          <button> Go back </button>
        </a>
    </div>
    <p id="offersCounter"></p>
  </div>
  <style>
      .svg-button:hover path{
          fill: lightgray;
      }
  </style>
</main>
</body>
</html>