<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Offer details</title>
  <div hidden id="gateway-config"> [[${@environment.getProperty('api-gateway.uri')}]]</div>
  <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/events.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/offerDetails.js}"></script>
  <script type="text/javascript" th:src="@{/js/src/defaultObjects.js}"></script>
</head>
<body onload="createReservationListener(); fetchOfferDetails(); fetchFlightDetails()">
  <div>
    <form action="/offers">
      <input type="hidden" id="flightId" name="flightId" value="">
      <input type="hidden" id="flightArrivalCountry" name="arrival_country" value="">
      <input type="hidden" id="flightDate" name="date" value="">
      <button> Go back </button>
    </form>
  </div>
  <div id="container">
    <div id="userInfo" style="float:right"></div>
    <h2>Offer details</h2>
    <div id="offerDetails"></div>
    <h2>Flight details</h2>
    <div id="flightData">
      <div id="flightDataFrom"></div>
      <div id="flightDataTo"></div>
      <div id="flightDataDate"></div>
    </div>
    <div id="actionButtons">
      <br>
      <button onclick="reserveOffer()">Reserve offer</button><br>
      <button onclick="purchaseOffer('random')">Purchase offer</button><br><br>
      <button onclick="purchaseOffer('success')">Purchase offer success</button>
      <button onclick="purchaseOffer('fail')">Purchase offer failure</button>
    </div>
    <h2 id="actionResult"></h2>
    <text id="eventLogs" style="white-space: pre"></text>
  </div>
  <style>
      .svg-button:hover path{
          fill: lightgray;
      }
  </style>
</body>
</html>