<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>statistics</title>
    <div hidden id="gateway-config"> [[${@environment.getProperty('api-gateway.uri')}]]</div>
    <script type="text/javascript" th:src="@{/js/src/util.js}"></script>
    <script type="text/javascript" th:src="@{/js/src/events.js}"></script>
    <script type="text/javascript" th:src="@{/js/src/statistics.js}"></script>
</head>
<body onload="createNotificationListener();
    fetchStatistics('/statistics/offers/hotels');
    fetchStatistics('/statistics/offers/rooms');
    fetchStatistics('/statistics/flights/destinations')">
<div id="userInfo" style="float:right"></div>
<div>
    <a id="homeButton" href="/">
        <button> Go Home </button>
    </a>
</div>
<div style="float: left">
    <ol id="/statistics/flights/destinations" style="list-style-type:none"><li>TOP destinations</li></ol>
</div>
<div style="float: left">
    <ol id="/statistics/offers/hotels" style="list-style-type:none"><li>TOP hotels</li></ol>
</div>
<div style="float: left">
    <ol id="/statistics/offers/rooms" style="list-style-type:none"><li>TOP rooms</li></ol>
</div>
<style>
    .svg-button:hover path{
        fill: lightgray;
    }
</style>
</body>
</html>